# --- Python & Runtime ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
.env
.conda

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*
notebooks/*.ipynb
notebooks/
# --- Data & Artifacts (CRITICAL) ---
# We do not push heavy matter to the repository.
data/celltypist_models
data/objects
data/raw/pbmc3k_filtered_gene_bc_matrices/hg19
data/raw/pbmc3k_raw_gene_bc_matrices/hg19
data/raw/pbmc3k_molecule_info.h5
data/reconstructed_matrices_final
cache/
# --- OS Noise ---
.DS_Store
Thumbs.db

# --- Logs ---
logs/
*.log
openh5file.py

*.ipynb