# --- Python & Runtime ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
.env
.conda

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Data & Artifacts (CRITICAL) ---
# We do not push heavy matter to the repository.
data/

# --- OS Noise ---
.DS_Store
Thumbs.db

# --- Logs ---
logs/
*.log
docs/*.md